<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gbook.Base.Configuration" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.Diagnostics" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.Diagnostics.WindowsAzure" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.IO" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.IO.WindowsAzure" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.TransientFaultHandling" version="2.6.4.0" targetFramework="net45" />
  <package id="Gbook.Base.TransientFaultHandling.WindowsAzure" version="2.6.4.0" targetFramework="net45" />
  <package id="LangExt" version="2.1.1.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
</packages>