<?xml version="1.0" encoding="utf-8"?>
<!-- For Debug. Don't remove this comment. -->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="PCSite" switchValue="All">
        <listeners>
          <clear />
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="TraceLog" />
          <add name="TroubleContact" />
        </listeners>
      </source>
      <source name="Security" switchValue="All">
        <listeners>
          <clear />
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="TraceLog" />
          <add name="TroubleContact" />
        </listeners>
      </source>
      <source name="Inspection" switchValue="All">
        <listeners>
          <clear />
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="TraceLog" />
        </listeners>
      </source>
      <source name="Mail" switchValue="All">
        <listeners>
          <clear />
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="TraceLog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add formatterType="Gbook.Base.Diagnostics.MessageFormatter, Gbook.Base.Diagnostics" type="Gbook.Base.Diagnostics.TroubleContactListener, Gbook.Base.Diagnostics" name="TroubleContact" initializeData="TConnect">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
      <add formatterType="Gbook.Base.Diagnostics.AzureLogFormatter, Gbook.Base.Diagnostics" type="Gbook.Base.Diagnostics.WindowsAzure.LogListener, Gbook.Base.Diagnostics.WindowsAzure" name="TraceLog">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="xidxpass" type="Toyota.Gbook.WebSite.DataAccess.Common.ServiceModel.HttpXidXpassBehaviorExtensionElement, Toyota.Gbook.WebSite.DataAccess" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="XidXpassAppendEndpointBehavior">
          <xidxpass />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="soapHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/ToyotaWebPassportIdProvider.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Authentication.Wsdl.ToyotaWebPassportIdProvider.IToyotaWebPassportIdProvider" name="TWPIdProviderSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/TWPMemberRelation.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Authentication.Wsdl.TWPMemberRelation.IMemberRelation" name="TWPMemberRelationSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/DeviceRelation.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Device.Wsdl.DeviceRelation.IDeviceRelation" name="DeviceRelationSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/GA/DealerInformation/DealerInformation.asmx" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="ServiceLibrary.Wsdl.DealerInformation.DealerInformationSoap" name="DealerInformationSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/GA/RMMApiProxy/RMMApiEndpoint.asmx" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="ServiceLibrary.Wsdl.RMMApiProxy.RMMApiEndpointSoap" name="RMMApiEndpointSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/PaymentMethodHelper.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Contract.Wsdl.PaymentMethodHelper.IPaymentMethodHelper" name="PaymentMethodHelperSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/ContinuationOperation.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Contract.Wsdl.ContinuationOperation.IContinuationOperation" name="ContinuationOperationSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/ReleaseTelematicsServiceContractHelper.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Contract.Wsdl.ReleaseTelematicsServiceContractHelper.IReleaseTelematicsServiceContractHelper" name="ReleaseTelematicsServiceContractHelperSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/Contract.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Contract.Wsdl.Contract.IContract" name="ContractSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/Promotion.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="Promotion.Wsdl.Promotion.IPromotion" name="PromotionSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
      <endpoint address="http://127.255.0.1:9998/stub/BA/00000_common/TConnectCancelTelematicsContract.svc/soap" binding="basicHttpBinding" bindingConfiguration="soapHttpBinding" contract="ServiceLibrary.Wsdl.TConnectCancelTelematicsContract.ICancelTelematicsContract" name="TConnectCancelTelematicsContractSoap" behaviorConfiguration="XidXpassAppendEndpointBehavior" />
    </client>
  </system.serviceModel>
  <appSettings file="user.config">
    <add key="Toyota.Gbook.WebSite.Common.PortCheck" value="false" />
    <add key="Toyota.Gbook.WebSite.Common.MakerCode" value="01" />
    <add key="Toyota.Gbook.WebSite.Common.VehicleNameCode" value="CZ" />
    <add key="Toyota.Gbook.WebSite.FormsAuthentication.TicketTime" value="300" />
    <add key="Toyota.Gbook.WebSite.Web.members.myprofile.PassewordCheck" value="1" />
    <add key="Toyota.Gbook.WebSite.Security.LogonSuccessInspectionFlg" value="on" />
    <add key="Toyota.Gbook.WebSite.Security.LogonFailureInspectionFlg" value="on" />
    <add key="Toyota.Gbook.WebSite.SingleSignOn.ExpirationTime" value="300" />
    <add key="Toyota.Gbook.WebSite.SingleSignOn.TicketEncryptionKey" value="CBA806861F7C9A83AC7FC0E5931C152E58872801A4C5704BF7C9A83AC7FC0E5931C152" />
    <add key="Toyota.Gbook.WebSite.SingleSignOn.TicketEncryptionIV" value="152E58872801A4C5704BF7C9A83AC7FC" />
    <add key="Toyota.Gbook.WebSite.Common.WebApi.Timeout" value="10" />
    <add key="Toyota.Gbook.WebSite.Common.XId" value="X-ID TEST" />
    <add key="Toyota.Gbook.WebSite.Common.XPassword" value="X-PASSWORD TEST" />
    <add key="Toyota.Gbook.WebSite.Authentication.XId" value="Auth-X-PASSWORD TEST" />
    <add key="Toyota.Gbook.WebSite.Authentication.XPassword" value="Auth-X-PASSWORD TEST" />
    <add key="Toyota.Gbook.WebSite.Common.Reminder.Url" value="Reminder/Menu.aspx" />
    <add key="Toyota.Gbook.WebSite.MailTemplate.ContainerName" value="mailtemplate" />
    <add key="Toyota.Gbook.WebSite.Common.WebRegist.Url" value="https://127.255.0.1:9998/stub/webregist/whats_webregist/default.html" />
    <add key="Toyota.Gbook.WebSite.Member.DeleteMember.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/MemberManagement.svc/rest/DeleteMember" />
    <add key="Toyota.Gbook.WebSite.Member.GetMember.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/Member.svc/rest/GetMember" />
    <add key="Toyota.Gbook.WebSite.Member.UpdateMember.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/Member.svc/rest/UpdateMember" />
    <add key="Toyota.Gbook.WebSite.IdentificationNumberOperation.GetIdentificationNumberState.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/IdentificationNumberOperation.svc/rest/GetIdentificationNumberState" />
    <add key="Toyota.Gbook.WebSite.IdentificationNumberOperation.RegisterIdentificationNumber.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/IdentificationNumberOperation.svc/rest/RegisterIdentificationNumber" />
    <add key="Toyota.Gbook.WebSite.IdentificationNumberOperation.UpdateIdentificationNumber.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/IdentificationNumberOperation.svc/rest/UpdateIdentificationNumber" />
    <add key="Toyota.Gbook.WebSite.ServiceLibrary.USEDETAIL.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/TConnectUsageDetails.svc/rest/GetUsageDetails" />
    <add key="Toyota.Gbook.WebSite.GSecurity.GAZ01A0360.Url" value="http://127.255.0.0:9998/stub/GA/gaz01a/GAZ01A0360.asp" />
    <add key="Toyota.Gbook.WebSite.GSecurity.RMTCHECK.Url" value="http://127.255.0.0:9998/stub/SR/remotesecurity/API/rmtcheck" />
    <add key="Toyota.Gbook.WebSite.GSecurity.SecurityStatus.Url" value="http://127.255.0.0:9998/stub/GA/TMC/rmt/SecurityStatus.asp" />
    <add key="Toyota.Gbook.WebSite.GSecurity.SecuritySet.Url" value="http://127.255.0.0:9998/stub/GA/TMC/rmt/SecuritySet.asp" />
    <add key="Toyota.Gbook.WebSite.Espo.ESPoUserCheckWebService.Url" value="http://127.255.0.0:9998/stub/ESPoUserCheckWebService.aspx" />
    <add key="Toyota.Gbook.WebSite.Telematics.GetContractStatusForMemberId.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/NavigationPortalHelper.svc/rest/GetContractStatusForMemberId" />
    <add key="Toyota.Gbook.WebSite.SingleSignOn.Gbook.Url" value="http://127.255.0.0:9998/stub/user/ValidateTicket.aspx" />
    <add key="Toyota.Gbook.WebSite.SingleSignOn.MapOnDemand.Url" value="http://127.255.0.0:9998/stub/mapondemand/ValidateTicket.aspx" />
    <add key="Toyota.Gbook.WebSite.RemoteMaintenanceMailList.PageSize" value="50" />
    <add key="Toyota.Gbook.WebSite.Security.SamlValidator.Validate.Rest.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/SamlValidator.svc/rest/Validate" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.Authentication.Url" value="http://127.255.0.0:9998/stub/oneid/service/authentication" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.Setauthorization.Url" value="http://127.255.0.0:9998/stub/oneid/service/setauthorization" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.Getaccesstoken.Url" value="http://127.255.0.0:9998/stub/oneid/service/getaccesstoken" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.Getuserinfo.Url" value="http://127.255.0.0:9998/stub/oneid/service/getuserinfo" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.ClientId" value="7De4eQ8k06TukRr0Ea0sd25GNwjlN2nU" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.SecretKey" value="sIfBS3UwSDwPJ26Tmo096sXMxxjyFHta" />
    <add key="Toyota.Gbook.WebSite.Oneid.Service.Redirect.Url" value="http://redirect.oneid.jp" />
    <add key="Toyota.Gbook.WebSite.Security.AuthenticationValidation_toyota" value="http://127.255.0.0:9998/stub/BA/00000_common/ToyotaMemberIdProvider.svc/rest/Authentication" />
    <add key="Toyota.Gbook.WebSite.Security.WebSiteHelper.GetTelemaServiceInformation.Rest.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/WebSiteHelper.svc/rest/GetTelemaServiceInformation" />
    <add key="Toyota.Gbook.WebSite.Security.Authorization.Authorize.Rest.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/Authorization.svc/rest/Authorize" />
    <add key="Toyota.Gbook.WebSite.Security.GetMemberLoginFromMailAddress.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/Member.svc/rest/GetMemberLoginInformation" />
    <add key="Toyota.Gbook.WebSite.Security.GetTelemaServiceContractFromVin.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/TelemaServiceGeneralOperation.svc/rest/GetTelemaServiceContract" />
    <add key="Toyota.Gbook.WebSite.Security.GetLockOutState.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/ToyotaMemberIdProvider.svc/rest/GetLockOutState" />
    <add key="Toyota.Gbook.WebSite.Information.MobileConnection.RssUrl" value="http://127.255.0.0:9998/stub/export/tc_oshirase_mobile.xml" />
    <add key="Toyota.Gbook.WebSite.Information.DcmConnection.RssUrl" value="http://127.255.0.0:9998/stub/export/tc_oshirase_dcm.xml" />
    <add key="Toyota.Gbook.WebSite.WhatsNew.MobileConnection.RssUrl" value="http://127.255.0.0:9998/stub/export/tc_news_mobile.xml" />
    <add key="Toyota.Gbook.WebSite.WhatsNew.DcmConnection.RssUrl" value="http://127.255.0.0:9998/stub/export/tc_news_dcm.xml" />
    <add key="Toyota.Gbook.WebSite.VehicleData.MyCarLog.GetMyCarLog.Url" value="http://127.255.0.0:9998/stub/MyCarLog/GetMyCarLog" />
    <add key="Toyota.Gbook.WebSite.Security.TConnectApiPasswordReset.Url" value="http://127.255.0.0:9998/tcmypage/api/reset-password" />
    <add key="Toyota.Gbook.WebSite.Security.TConnectApiRemindId.Url" value="http://127.255.0.0:9998/tcmypage/api/remind-id" />
    <add key="Toyota.Gbook.WebSite.Security.TConnectApiContact.Url" value="http://127.255.0.0:9998/tcmypage/api/contact" />
    <add key="Toyota.Gbook.WebSite.Contact.MemberUtilityApi.Url" value="http://127.255.0.0:9998/stub/GZAP/MemberUtilityWrapper/MemberInquiryRegistApi.asmx/InquiryRegist" />
    <add key="Toyota.Gbook.WebSite.VehicleData.MyCarLog.XId" value="X-ID_MyCarLog_D" />
    <add key="Toyota.Gbook.WebSite.VehicleData.MyCarLog.XPassword" value="X-Password_MyCarLog_D" />
    <add key="Toyota.Gbook.WebSite.TConnect.XId" value="X-Id_TConnect_Debug" />
    <add key="Toyota.Gbook.WebSite.TConnect.XPassword" value="X-Password_TConnect_Debug" />
    <add key="Gbook.Base.Mail.MailGW.X-Id" value="X-Id_TConnect_Debug" />
    <add key="Gbook.Base.Mail.MailGW.X-Password" value="X-Password_TConnect_Debug" />
    <add key="Toyota.Gbook.WebSite.Toppage.RemoteMaintenance.Url" value="/tcmypage/Members/RemoteMaintenanceMail/RemoteMaintenanceMailList.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.MapOnDemand.Url" value="http://127.255.0.0:9998/stub/mapondemand/Top.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.DrivePlan.Url" value="http://127.255.0.0:9998/stub/user/members/driveplan/DriveplanTop.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.Espo.Url" value="http://127.255.0.0:9998/stub/user/members/ESPoT/PCUI01_001_top.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.GazooBlog.Url" value="http://gazoo.com/members/campaign/Pages/t-con01.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.OwnersVoice.Url" value="https://toyota.jp/service/owners/dc/post-top" />
    <add key="Toyota.Gbook.WebSite.Toppage.ProbeInfo.Url" value="http://127.255.0.0:9998/stub/free/probeinfo/ProbeTrafficInfoTop.aspx" />
    <add key="Toyota.Gbook.WebSite.Toppage.TrafficResultsInfo.Url" value="http://itsap1.toyota-ms.co.jp/" />
    <add key="Toyota.Gbook.WebSite.Toppage.StartGuide.Url" value="http://tconnect.jp/detail/3577656" />
    <add key="Toyota.Gbook.WebSite.Toppage.FcvStartGuide.Url" value="http://tconnect.jp/detail/5851095" />
    <add key="Toyota.Gbook.WebSite.Toppage.AppCatalog.Url" value="https://dev.tsc-j.appcatalog.pnop.tsc-tc.com/toyota/" />
    <add key="Toyota.Gbook.WebSite.Header.Services.Url" value="http://tconnect.jp/" />
    <add key="Toyota.Gbook.WebSite.Footer.Gazoo.Url" value="http://gazoo.com/" />
    <add key="Toyota.Gbook.WebSite.Footer.ToyotaJp.Url" value="http://toyota.jp/" />
    <add key="Toyota.Gbook.WebSite.Footer.Hapikara.Url" value="http://hapikara.jp/shop/" />
    <add key="Toyota.Gbook.WebSite.Footer.Tokushoho.Url" value="/tcmypage/tokushoho/index.aspx" />
    <add key="Toyota.Gbook.WebSite.Footer.Agreement.Url" value="/tcmypage/agreement/index.aspx" />
    <add key="Toyota.Gbook.WebSite.Footer.Policy.Url" value="/tcmypage/guide/index.aspx" />
    <add key="Toyota.Gbook.WebSite.Footer.Privacy.Url" value="/tcmypage/privacy/index.aspx" />
    <add key="Toyota.Gbook.WebSite.MyProfile.GetPurchaseHistory.Url" value="http://{0}/stub_PurchaseHistory/Default.aspx?stub_id=PurchaseHistory" />
    <add key="Toyota.G_BOOK.PCSite.Common.AppstoreHost" value="127.255.0.1" />
    <add key="Toyota.Gbook.WebSite.MyCarLog.MaxPeriod" value="12" />
    <add key="Toyota.Gbook.WebSite.GSecurity.ChaseRobberyInfo.Url" value="http://127.255.0.0:9998/stub/SR/remotesecurity/API/traceStateApi" />
    <add key="Toyota.Gbook.WebSite.ServiceLibrary.CancelTelematicsContract.Url" value="http://127.255.0.0:9998/stub/BA/00000_common/TConnectCancelTelematicsContract.svc/rest/GetInformation" />
    <add key="Toyota.Gbook.WebSite.DataTransition.Url" value="http://127.255.0.0:9998/stub/SR/datatransfer/wrapperAPI/Default.aspx" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.dev.onpr.tsc-tc.com" value="CoordinationServerError" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.dev.mycarlog.pnop.tsc-tc.com" value="MyCarLogServerError" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.dev.tsc-j.navi.toyotaappstore.com" value="DistributionServerError" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.onpr.tsc-tc.com" value="CoordinationServerError" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.mycarlog.pnop.tsc-tc.com" value="MyCarLogServerError" />
    <add key="Toyota.Gbook.WebSite.Common.Log.Publish.LogMethod.tsc-j.navi.toyotaappstore.com" value="DistributionServerError" />
    <add key="Toyota.Gbook.WebSite.EmailAddressVerifiy.Url" value="http://localhost:81/tcmypage/EmailAddressVerify.aspx" />
    <add key="Toyota.Gbook.WebSite.MailSend.From" value="webregister@mail.tconnect.jp" />
    <add key="Toyota.Gbook.WebSite.EmailAddressVerifiy.Subject" value="T-Connectメールアドレス登録完了手続きのお願い" />
    <add key="Toyota.Gbook.WebSite.ResetPassword.Url" value="http://localhost:81/tcmypage/Reminder/PasswordChange.aspx" />
    <add key="Toyota.Gbook.WebSite.ResetPassword.Subject" value="『T-Connect会員パスワード再設定URL』のお知らせ" />
    <add key="Toyota.Gbook.WebSite.IdRemind.Subject" value="『T-Connect会員ID』のお知らせ" />
    <add key="Toyota.Gbook.WebSite.Mail.MailGW.Url" value="http://127.255.0.0:9998/stub/gbook/mailsend" />
    <add key="Toyota.Gbook.WebSite.Mail.ServerType" value="MailGW" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="System:Xml:Serialization:UseLegacySerializerGeneration" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <clear />
      <error statusCode="400" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="403" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="404" path="/tcmypage/CustomError/pattern4.html" responseMode="Redirect" />
      <error statusCode="405" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="406" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="412" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="414" path="/tcmypage/CustomError/pattern3.html" responseMode="Redirect" />
      <error statusCode="500" path="/tcmypage/CustomError/pattern1.html" responseMode="Redirect" />
      <error statusCode="501" path="/tcmypage/CustomError/pattern1.html" responseMode="Redirect" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5" />
    <customErrors defaultRedirect="CustomError/pattern4.html" mode="Off">
      <error statusCode="400" redirect="CustomError/pattern3.html" />
      <error statusCode="403" redirect="CustomError/pattern3.html" />
      <error statusCode="404" redirect="CustomError/pattern4.html" />
      <error statusCode="405" redirect="CustomError/pattern3.html" />
      <error statusCode="406" redirect="CustomError/pattern3.html" />
      <error statusCode="412" redirect="CustomError/pattern3.html" />
      <error statusCode="414" redirect="CustomError/pattern3.html" />
      <error statusCode="500" redirect="CustomError/pattern1.html" />
      <error statusCode="501" redirect="CustomError/pattern1.html" />
    </customErrors>
    <authentication mode="Forms">
      <forms name=".ASPXUSERAUTH" loginUrl="Login.aspx" timeout="300" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--. NETの検証処理を無効化 -->
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <sessionState mode="Custom" customProvider="MySessionStateStore" timeout="300">
      <providers>
        <!-- For more details check https://github.com/Azure/aspnet-redis-providers/wiki -->
        <!-- Either use 'connectionString' OR 'settingsClassName' and 'settingsMethodName' OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
        <!-- 'throwOnError','retryTimeoutInMilliseconds','databaseId' and 'applicationName' can be used with both options. -->
        <!--
          <add name="MySessionStateStore" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "5000" [number]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            settingsClassName = "<Assembly qualified class name that contains settings method specified below. Which basically return 'connectionString' value>" [String]
            settingsMethodName = "<Settings method should be defined in settingsClass. It should be public, static, does not take any parameters and should have a return type of 'String', which is basically 'connectionString' value.>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String]
          />
        -->
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="otr-tconnect.redis.cache.windows.net" accessKey="jq8Ij8etqjlk32X/+n7U93DASm7fydTms3rIpSiXVK0=" ssl="true" />
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>